#ranking-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.rankingTitle {
  width: 47%;
}

.ranking .rankingTitle {
  width: 100%;
}

.rankingTitle h2 {
  width: 100%;
  display: block;
  margin-top: 1rem;
  padding-left: 0.8rem;
  line-height: 0.6rem;
}

.total {
  border-bottom: solid 0.5rem #a2d2ff;
}

.ps5 {
  border-bottom: solid 0.5rem #bdfefe;
}

.sw {
  border-bottom: solid 0.5rem #ffafcc;
}

.xbox {
  border-bottom: solid 0.5rem #cdb4db;
}

.rankingTitle > a {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem 0 0.8rem 2rem;
  border: solid 0.1rem #6d687550;
}

.rankingTitle > a:nth-of-type(1)::before {
  content: '1';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bolder;
  font-size: 2.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f0ce0f;
  -webkit-text-fill-color: #ffff00;
}

.rankingTitle > a:nth-of-type(2)::before {
  content: '2';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bolder;
  font-size: 2.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: gray;
}

.rankingTitle > a:nth-of-type(3)::before {
  content: '3';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bolder;
  font-size: 2.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: brown;
}

.rankingItems {
  width: 100%;
  align-items: flex-start;
}

.order {
  width: 15%;
  height: 1.5rem;
  margin: 0 10px;
  color: #aaa;
  border: 1px solid #ccc;
  vertical-align: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5rem;
}

/* Tablet */
@media (max-width: 890px) {
  .rankingTitle {
    width: 95%;
  }
}

/* Smartphone */
@media (max-width: 500px) {
  .rankingTitle {
    width: 95%;
  }
}
