* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #ffffff85;
  counter-reset: ranking;
}

header {
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  display: flex;
}

header h1 {
  cursor: pointer;
}

a {
  cursor: pointer;
}

input {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  margin: 0 1.4rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  border: none;
  outline: 0;
  color: #333;
  border-bottom: 1px solid #333;
  background-color: transparent;
  text-align: center;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.game svg {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  margin-right: 1rem;
  opacity: 1;
  fill: #4444449f;
}

#ranking-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 0 auto;
}

.rankingTitle {
  width: 100%;
  display: block;
  margin-top: 1rem;
  padding-left: 0.8rem;
  line-height: 0.6rem;
  border-bottom: solid 0.5rem #e5989b7a;
}

#ranking-container > a {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  border: solid 0.1rem #6d687550;
}

#ranking-container > a:nth-of-type(1)::before {
  content: '1';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bolder;
  font-size: 2.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f0ce0f;
  -webkit-text-fill-color: #ffff00;
}

#ranking-container > a:nth-of-type(2)::before {
  content: '2';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bolder;
  font-size: 2.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: gray;
}

#ranking-container > a:nth-of-type(3)::before {
  content: '3';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bolder;
  font-size: 2.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: brown;
}

.rankingBooks {
  display: flex;
  position: relative;
}

.rankingBooks > .contents {
  margin: 0.5rem 0.5rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
  width: 100%;
}

article {
  width: 100%;
  display: flex;
  font-size: 0.8rem;
}

.ranking {
  padding-left: 1rem;
  width: 35%;
}

.results {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.results > a {
  width: auto;
  display: flex;
  flex-direction: column;
  /* margin-left: 1rem; */
  padding: 0.5rem 0.5rem;
  border: 1px solid #ffffff85;
}

.results > a > img {
  width: 10rem;
}

.contents {
  width: 10.5rem;
  margin: 0.5rem 0;
  line-height: 1.2rem;
}

.contents a {
  text-decoration: none;
  color: #ffffffc2;
}

.bookDetails {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  margin-left: 1rem;
}

.bookDetails > img {
  width: 10.5rem;
  height: auto;
}

.details {
  word-break: break-all;
  white-space: normal;
  margin: 0 1rem 1rem 1rem;
  line-height: 1.5rem;
}

.details > p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
}

.details > p:nth-child(2) {
  margin-bottom: 0.5rem;
}

.details > p:nth-child(3) {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.details > p:nth-child(4) {
  margin-bottom: 0.5rem;
}

.details > p > a {
  text-decoration: none;
  color: #818181;
}

/* ranking */
.r-contents {
  height: 3rem;
  margin: 0 1rem 0 0.4rem;
  display: flex;
  align-items: center;
}

.r-contents p {
  line-height: 1.2rem;
  margin: 0.5rem 0 0.5rem 1rem;
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order {
  /* display: inline-block; */
  width: 15%;
  height: 1.5rem;
  margin: 0 10px;
  color: #aaa;
  border: 1px solid #ccc;
  vertical-align: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5rem;
}

.ranking-item:nth-of-type(1) .order,
.ranking-item:nth-of-type(2) .order,
.ranking-item:nth-of-type(3) .order {
  border: none;
  color: #fff;
  font-weight: normal;
}

.ranking-item:nth-of-type(1) .order {
  background-color: #dab413;
}

.ranking-item:nth-of-type(2) .order {
  background-color: #6e7b84;
}

.ranking .ranking-item:nth-of-type(3) .order {
  background-color: #a0541a;
}

.ranking-item .order::before {
  content: counter(ranking);
  counter-increment: ranking;
  /* display: inline-block; */
  font-size: 1rem;
}

.undefined {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 0.4rem;
  font-size: 0.7rem;
}

/* Normal */
@media (max-width: 1200px) {
  /* ranking */
  .r-contents p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.5rem 0 0.5rem 1rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/* Tablet */
@media (max-width: 890px) {
  .results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .ranking {
    display: none !important;
  }
}

/* Smartphone */
@media (max-width: 500px) {
  header {
    padding: 1rem 1rem;
    font-size: 0.9rem;
    line-height: 1rem;
  }

  input {
    padding: 0 0.5rem;
    margin: 0 0 0 0.8rem;
    height: 1rem;
    width: 100%;
    line-height: 1rem;
    font-size: 0.8rem;
  }

  .game svg {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 0;
    margin-right: 1rem;
  }

  .book svg {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 0;
    margin-right: 1rem;
  }

  .results > a {
    display: block;
  }

  .results img {
    width: 100%;
  }

  .contents {
    margin: 0.5rem 0.5rem 0;
    line-height: 1.2rem;
  }
}
